[submodule "ql"]
	path = ql
	url = https://github.com/github/codeql.git
	branch = lgtm.com
[submodule "extern/duckdb"]
	path = extern/duckdb
	url = https://github.com/hohn/duckdb
[submodule "extern/jedis"]
	path = extern/jedis
	url = https://github.com/hohn/jedis
[submodule "extern/codeql-bundle"]
	path = extern/codeql-bundle
	url = https://github.com/advanced-security/codeql-bundle.git
